.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  background: var(--color-bg);
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

@media only screen and (orientation: portrait) {
  .App {
    flex-direction: column-reverse;
  }
}
