@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

:root {
  --font-family: "Barlow Condensed", sans-serif;

  --color-bg: #393c49;
  --color-panel: #1f1d2b;
  --color-accent: #ea7c69;
  --color-logo-bg: rgb(235, 150, 106, 0.26);
}
