.bora__sidebar-nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active div {
  background-color: var(--color-accent);
  border-radius: 12px;
}

.active img {
  filter: invert(100%) sepia(0%) saturate(4729%) hue-rotate(227deg)
    brightness(117%) contrast(100%);
}

.bora__sidebar-nav_link-tag img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.75rem;
}

.bora__icon {
  filter: var(--filter-accent);
}

.bora__sidebar-nav_link-tag div {
  margin: 2rem 0;
}

@media screen and (max-height: 795px) {
  .bora__sidebar-nav_link-tag div {
    margin: 1.5rem 0;
  }
}

@media screen and (max-height: 665px) {
  .bora__sidebar-nav_link-tag img {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.5rem;
  }
}

@media only screen and (orientation: portrait) {
  .bora__sidebar-nav_link {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 795px) {
  .bora__sidebar-nav_link-tag div {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 665px) {
  .bora__sidebar-nav_link-tag img {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.5rem;
  }
}
